﻿@model hzbackend1.Models.comment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>comment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeStamp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeStamp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TargetText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommentText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebsiteRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebsiteRating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
