﻿@model hzbackend1.Models.comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>comment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeStamp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeStamp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TargetText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommentText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebsiteRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebsiteRating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
