﻿@model hzbackend1.Models.comment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>comment</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeStamp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeStamp)
            @Html.ValidationMessageFor(model => model.TimeStamp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ip)
            @Html.ValidationMessageFor(model => model.Ip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TargetText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TargetText)
            @Html.ValidationMessageFor(model => model.TargetText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CommentText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentText)
            @Html.ValidationMessageFor(model => model.CommentText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebsiteRating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebsiteRating)
            @Html.ValidationMessageFor(model => model.WebsiteRating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
