﻿<div id="body">
    <h5>Watchdogs are ready</h5>

</div>
<script src="~/Scripts/XSockets.latest.js"></script>
<script>
    var con = new XSockets.WebSocket("WS://hackzurichbackend.cloudapp.net:8080", ["postreceiver"]);
    var PostReceiver = con.controller("postreceiver");
    PostReceiver.onopen = function () {
        console.log("open");
    };

    PostReceiver.on("NEWPOST", function (d) { console.log(d) });


</script>

